:root {
  --haste-yellow: #FF2800;
  --primary-black: #080808;
}



input {
  background-color: transparent;
  border-bottom: 1px solid whitesmoke;
  color: whitesmoke;
  font-family: "OpenSans";
  font-size: 30px;
}

textarea {
  background: transparent;
  border: 1px solid whitesmoke;
  font-family: "OpenSans";
}

.haste-button {
  border-radius: 2px;
  border: 1px solid var(--haste-yellow);
  background: transparent;
  color: var(--haste-yellow);
  transition: all 0.3s ease;
  font-weight: bold;
  padding-block: 0.5rem;
  padding-inline: 1rem;
  margin-block: 1rem;
  font-family: "OpenSans";
  font-weight: bold;
  font-size: 30px;
}

.haste-button:hover,
.haste-option:hover {
  opacity: 0.8;
  transform: scale(1.05);
  transition: all 0.25s ease;
}

.haste-option {
  border-radius: 2px;
  border-bottom: 1px solid var(--haste-yellow);
  background: transparent;
  color: var(--haste-yellow);
  transition: all 0.3s ease;
  font-weight: bold;
  padding-block: 0.25rem;
  padding-inline: 0.5rem;
  margin-block: 1rem;
  margin-inline: 1rem;
  font-family: "OpenSans";
  font-weight: bold;
  font-size: 24px;
}

div.jsoneditor-menu > a {
  display: none;
}

.jsoneditor-menu {
  background-color: var(--primary-black);
  border-bottom: 1px solid var(--haste-yellow);
}

.jsoneditor-menu > button {
  background-color: var(--primary-black);
}

.jsoneditor-statusbar {
  background-color: var(--primary-black);
}

body {
  color: whitesmoke;
  display: flex;
  flex-direction: column;
  min-height: 100svh;
  background: rgb(14, 14, 14) 52.4%;
}
